body{
    background-image: url("../img/background_paper.png");
    background-size: cover;
    background-attachment: fixed;
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

.indexpage{
  background-image: url("../img/background_paperindex.png");
  background-size: cover;
  background-attachment: fixed;
  max-width: 1500px;
  margin: auto;
}

header{
    text-align: center;
    padding-bottom: 2px;
}

h1{
    font-family: gambado-sans, sans-serif;
    font-size: 15rem;
    color: #04A1FF;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: #FF3399;
    line-height: 60%;
    margin-bottom: 4%;
}

h2{
  font-family: gambado-sans, sans-serif;
  font-size: 10rem;
  color: #04A1FF;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #FF3399;
  line-height: 40%;
  margin-bottom: 3%;
}

p{
    font-family: "Gaegu", sans-serif;
    font-size: 50pt;
}

a{
  text-decoration: none;
}

.play{
    width: 15%; 
    margin: auto;
}

.playbutton{
    position: relative;
    display: inline-block;
    margin: auto; 
    text-align: center;
  }

  .playbutton .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .playbutton:hover .img-top{
    display: inline;
  }
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1%;
}

#notebook{
    grid-column: 1/2;
    grid-row: 1/4;
}

#instructions{
    grid-column: 2/2;
    grid-row: 1/3;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#draw{
    grid-column: 2/2;
    grid-row: 2/4;
    text-align: center;
    padding-right: 20rem;
}

#game{
    grid-column: 2/2;
    grid-row: 3/4;
    text-align: center;

    padding-left: auto;
    padding-right: 20rem;
}

.notebook{
    position: relative;
    display: inline-block;
    margin: 10%;
  }
  .notebook .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .notebook:hover .img-top{
    display: inline;
  }
  .drawbutton{
    width: 1px;
    height: 2px;
    position: relative;
    display: inline-block;
    margin: 10%;
  }
  .drawbutton .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .drawbutton:hover .img-top{
    display: inline;
  }
  .gamebutton{
    width: 1px;
    position: relative;
    display: inline-block;

  }
  .gamebutton .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .gamebutton:hover .img-top{
    display: inline;
  }

.drawpage{
    cursor: url("../img/crayon.png"), auto;
    align-items: center;
    background-image: url("../img/background_paper.png");
    background-size: cover;
    background-attachment: fixed;
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

.coloring{
  position: relative;
  display: inline-block;
  margin: 10% auto;

}
.coloring .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.coloring:hover .img-top{
  display: inline;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.container img{
  max-width: 350px;
  padding: 10px;
}

.gamecanvas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.copykatcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #FF3399;
}

.girlcharacter{
  max-width: 500px;
  text-align: center;
  margin: 5px;
  font-size: 20pt;
}

.boycharacter{
  max-width: 500px;
  text-align: center;
  margin: 5px;
  font-size: 20pt;
}

.gamepagegirl{
  cursor: url("../img/charactercursor.png"), auto;
}
.gamepageboy{
  cursor: url("../img/character2cursor.png"), auto;
}

.copykat1{
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: scale(.5);
}

.thebank{
  z-index: 1;
}

.copykat2{
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: scale(.5);
}

.copykat3{
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
  position: absolute;
  top: 35%;
  left: 53%;
  transform: scale(.5);
  max-width: 300px;
}
.popup{
  visibility: hidden;
  max-width: 190px;
  text-align: center;
  z-index: 1;
  transform: translate(-95%, -35%);
  left: 40%;
  top: 40%;
}

.popup.show{
  visibility: visible;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

